In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
header = ['Product_code','w0','w1','w2','w3','w4','w5','w6','w7','w8','w9','w10','w11','w12','w13','w14','w15','w16','w17','w18','w19','w20','w21','w22','w23','w24','w25','w26','w27','w28','w29','w30','w31','w32','w33','w34','w35','w36','w37','w38','w39','w40','w41','w42','w43','w44','w45','w46','w47','w48','w49','w50','w51', 'min', 'max']
df = pd.read_csv("Sales_Transactions_Dataset_Weekly.csv", header=None, names=header)

In [2]:
df.head()

,Product_code,w0,w1,w2,w3,w4,w5,w6,w7,w8,...,w44,w45,w46,w47,w48,w49,w50,w51,min,max
0,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,W44,W45,W46,W47,W48,W49,W50,W51,MIN,MAX
1,P1,11,12,10,8,13,12,14,21,6,...,8,10,12,3,7,6,5,10,3,21
2,P2,7,6,3,2,7,1,6,3,3,...,5,1,1,4,5,1,6,0,0,10
3,P3,7,11,8,9,10,8,7,13,12,...,5,5,7,8,14,8,8,7,3,14
4,P4,12,8,13,5,9,6,9,13,13,...,3,4,6,8,14,8,7,8,2,19